<a href="https://colab.research.google.com/github/abeliansw/0dte-trader/blob/master/Set20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [ProDS Asso] Set5

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
churn=pd.read_csv('churn2.csv')

churn.columns
# ['CustomerId', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
#        'Balance', 'NumOfProducts', 'EstimatedSalary', 'Exited']
churn.isna().sum()
churn.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

## Q1 (결측치 제거된 데이터셋명:'basetable'로 사용)

In [ ]:
q1=churn.dropna()
basetable=q1.copy()
q1_ans=q1[q1.Geography=='Spain']['EstimatedSalary'].median()
print(int(q1_ans)) # 100015.79


# 답) 100015

100015

## Q2

In [ ]:
from scipy.stats import ttest_ind

q2=ttest_ind(basetable[basetable.Exited==1]['CreditScore'],
          basetable[basetable.Exited==0]['CreditScore'])

# basetable.groupby('Geography').mean()

q2_ans=round(abs(q2.statistic),2)

print(q2_ans) # 2.7287427794456387


# 답: 2.73

2.73

## Q3

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score, confusion_matrix, accuracy_score


q3=basetable.copy()

train=q3.copy()
test=q3[q3.Type == 'test']

var_list=['CreditScore', 'Gender', 'Age',
          'Balance', 'NumOfProducts', 'Tenure']

# 'CreditScore', 'Balance', 'Tenure', 'NumOfProducts', 'EstimatedSalary'

dt=DecisionTreeClassifier(random_state=123, min_samples_leaf=3)
dt.fit(train[var_list], train['Exited'])

q3_pred=dt.predict(test[var_list])


round(f1_score(test['Exited'], q3_pred),2)

# 답: 0.80

0.8

## 참고

In [ ]:
accuracy_score(test['Exited'], q3_pred) # 0.92

0.9239783653846154

In [ ]:
confusion_matrix(test['Exited'], q3_pred)

array([[2553,   89],
       [ 164,  522]], dtype=int64)